*{
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0; /*Чтобы не было отступов от краёв сайта*/

  background-color: #ffffff;
  background-image: url(../img/background.jpg);
  color: #000000;

  height: 100%;
  background-attachment: fixed;

}

a{
  text-decoration: none; /*Чтобы не было подчёркивания у ссылок*/
}







/*HEADER*/
#header{
  color: #ff9c11;
  background-color: #ffffff;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;

  /*position: fixed;
  width: 100%;*/
}

#header a{
  color: #ff9c11;
  font-size: 42px;
  font-weight: bold;
}






/*MENU*/
#menu {
    list-style-type: none; /*Убирает символы перед строками в списке*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9c11; /*Оранжевый*/

    /*position: relative;
    width: 100%;*/
}

@media all and (max-width:540px) { /*Esli razmer okna brauzera ne bolshe 600px*/
  #menu li{
    float:none;
  }
}

@media all and (min-width:541px) { /*Esli razmer okna brauzera minimum 601px*/
  #menu li {
      float: left; /*Выравнивает текст по левому краю*/
  }
}

#menu li a {
    display: block;
    color: #ffffff; /*Белый*/
    text-align: center;
    padding: 16px;
}

#menu li a.active { /*Если ссылка активирована*/
    background-color: #ffc068;
}

#menu li a:hover, .menu li a:focus { /*Действия при наведении на ссылку*/
    background-color: #ffc068;
    transition:1.5s;
}





/*BODY*/
#body {

  background-color: white;
  height: 10em;
  /*min-height: 800px;*/

  margin: 5px;
  padding: 5px;
  display: table; /*Chtobi blok rastagivalsa po mere uvelicenija teksta*/

  margin-bottom: 100px; /*Chtobi footer ne nahodil na tekst*/
  border-radius: 10px;
}

#body a{
  color: #000000;
  font-weight: bold;
}

#body h1{
  text-align: center;
}

@media all and (max-width: 540px) { /*Esli razmer okna brauzera ne bolshe 600px*/
  #body{
    width: 100%;
    margin: 0px;
    padding: 0px;

    margin-bottom: 200px;
    border-radius: 0px;
  }
}

@media all and (min-width: 541px) and (max-width: 720px) { /*Esli razmer okna brauzera minimum 601px*/
  #body {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }
}

@media all and (min-width: 721px) and (max-width: 960px) { /*Esli razmer okna brauzera minimum 601px*/
  #body {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }
}

@media all and (min-width: 961px) { /*Esli razmer okna brauzera minimum 601px*/
  #body {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }
}



/*PLACES*/
.place{
  display: inline;
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
  float: left;

  padding-top: 10px;
  padding-bottom: 10px;
}

.place img{
  height: 150px;
  float: left;
  margin-right: 10px;
}

.place a{
  font-size: 21px;
}

@media all and (max-width: 720px) { /*Esli razmer okna brauzera ne bolshe 600px*/
  .place img{
    width: 100%;
    height: auto;
  }

  .place{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}


/*.city_img{
  width: 50%;
  height: 150px;
}

.city_img img{
  height: 150px;
}

.city_info{
  width: 50%;
}*/



/*FOOTER*/
#footer{
  padding: 10px;
  background-color: #ff9c11;
  color:#ffffff;
  text-align: center;
  position: fixed;
  width: 100%;

  bottom: 0;
}

#footer img{
  width:50px;
  height: 50px;
  padding: 10px;
}

#footer a{
  text-decoration: none;
}
